<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.10.0" targetFramework="net471" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="SharpDX" version="4.2.0" targetFramework="net471" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net471" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net471" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net471" />
  <package id="Unity" version="5.8.13" targetFramework="net471" />
  <package id="YamlDotNet" version="5.3.0" targetFramework="net471" />
</packages>