<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.4.3" targetFramework="net471" />
  <package id="EMGU.CV" version="3.3.0.2824" targetFramework="net471" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="SharpDX" version="4.2.0" targetFramework="net471" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net471" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net471" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net471" />
  <package id="Tesseract" version="3.0.2.0" targetFramework="net471" />
  <package id="Unity" version="5.8.13" targetFramework="net471" />
  <package id="YamlDotNet" version="5.3.0" targetFramework="net471" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net471" />
</packages>