<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EMGU.CV" version="3.3.0.2824" targetFramework="net461" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="SharpDX" version="4.0.1" targetFramework="net452" />
  <package id="SharpDX.Direct3D11" version="4.0.1" targetFramework="net452" />
  <package id="SharpDX.DXGI" version="4.0.1" targetFramework="net452" />
  <package id="Unity" version="5.5.6" targetFramework="net461" />
  <package id="YamlDotNet" version="4.2.2" targetFramework="net452" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net461" />
</packages>